
<!doctype HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css">
    <style>
      
       h1{
         margin-top: 20px;
         margin-bottom: 22px;
         font-size: 39px;
       }
      h5{
        margin-top: 22px;
         margin-bottom: 2px;
        font-style: bolder;
      }
      p{
        font-size: 16px;
        font-weigth: bold;
        line-spacing: 1;
        line-height: 1.5;
        <!--font-style: bolder;--!>
        font-weight: bold;
        
      }
      
    </style>
    
  </head>
  <body style="color: #faf9f6; font-family: 'Arial Rounded MT bold' Arial; background-color: #9370db;" class="container">

    <div>

    
      <h1> Beta Programs </h1>
      <div>
        <h5> Fliche Wallet </h5>
        <p> The developer teams are currently working on the
      fliche wallet which will ensure high level security of user's funds.</p>

        <h5> P2P Transactions </h5>
        <p> The Peer-2-Peer feature will allow users to communicate with one another 
      and trade digital assets successfully without risk of scams.

        <h5> Brokerage </h5>
        <p> The brokerage feature will enable users to trade their assets, so you won't 
      just have assets sitting in your wallet, you will be able to invest them as well with a Trading View
      chart and tons of asset classes to trade.</p>
      </div>

      <div style="width: 100%; margin-left: 2px; border: 2px solid white; border-radius: 6px;">


      </div>

      <h1> Stats </h1>
      <div style="text-align: center;">
       <b></b><h4> Total Users(world-wide): </h4>
       <p style="font-size: 20px;"><b> ~4.11M </b> </p>

       <h4> Active Users: </h4>
       <p style="font-size: 20px;"><b> ~1978251 </b></p>

       <h4> Total Trades: </h4>
       <p style="font-size: 20px;"><b> ~11M </b></p>
      </div>


    </div> 
  </body>
  <foot>
    <div style="box-shadow: 0 0 0 2px rgba(200, 200, 200, 0.3); margin-bottom: 2px; margin-left: 3px; width: 100%; border-color: #faf9f6; border-radius: 9px; border-style: solid; border-width: 28px; margin-left: -1px; margin-bottom: -2px; margin-right: -2px; margin-top: -2px;" class="row">
      <a href="#" class="col-3"><p class="bi bi-headset"></p>
      </a>
      
      
    </div>
  </foot>
</html>
